html {
  margin: 0px;
  height: 100%;
  width: 100%;
}

body {
  margin: 0px;
  min-height: 100%;
  width: 100%;
}

img.kitten {
  display: block;
  margin: auto;
  max-width: 100%;
}

img.kitten:hover {
  cursor: pointer;
}
h1 {
    text-align: center;
}

div {
  display: none;
  /* float: right; */
}


div.unhide {
  display: block;
}

ul {
  float: left;
}

ul:hover {
  cursor: pointer;
}